@model HandsOnMVCCoreUsingModels.Models.Item
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetItem</title>
</head>
<body>
	<pre style="color:blue">
    ItemId:@Model.ItemId
    ItemName:@Model.ItemName
    Price:@Model.Price
    Stock:@Model.Stock
</pre>
	
    <a href="/Item/GetAll">back to list</a>
</body>
</html>
