@model HandsOnMVCCoreUsingModels.ViewModels.ItemOrder
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>
<pre>
OrderId: @Model.OrderId
ItemName:@Model.ItemName
Price:@Model.Price
OrderDate:@Model.OrderDate
</pre>

